{% extends 'base.html' %} 
<!-- Title -->
{% block title %}Classes{% endblock title %} 
<!-- Header Text -->
{% block header-text %}Classes{% endblock header-text %} 
<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="static/css/register.css" />
<link rel="stylesheet" href="static/css/table.css" />
{% endblock css %} 
<!-- Body -->;
{% block body %} 
<br />
<form action="/classes" method="POST">
  {% csrf_token %}
  <input type="text" name="classes" placeholder="Class" />
  <button type="submit">Add Class</button>
</form>

<div class="defaulters">
  <div class="card">
    <div class="card-up">
      <i class="fas fa-chalkboard"></i>
    </div>
    <h2>Classes: <span data-target="{{ length }}" class="counter">0</span></h2>
    <br>
    <div class="table-outer">
    <table class="table">
      <tr>
        <th>Class</th>
        <th>Delete</th>
      </tr>
      {% for class in classes %}
        <tr>
          <td>{{ class }}</td>
          <td style="cursor: pointer;" class="delete" onclick="del('{{ class.id }}')">DELETE &nbsp; <i class="far fa-times-circle"></i></td>
        </tr>
      {% endfor %}
    </table>
    </div>
  </div>
</div>
{% endblock body %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>
  function del(id) {
    
    $.ajax({
      url: 'class-delete',
      data: {
        'id': id,
      },
      dataType: 'json',
      success: function(data) {
        location.reload(true);  
        
      }
    });
  }

  
  
</script>
{% endblock js %}