{% extends 'base.html' %}
<!-- Title -->
{% block title %}Teachers{% endblock title %}
<!-- Header Text -->
{% block header-text %}Teachers{% endblock header-text %}
<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="static/css/students.css" />
<link rel="stylesheet" href="static/css/table.css" />
<link rel="stylesheet" href="static/css/search.css" />
{% endblock css %}
<!-- Body -->
{% block body %}
<!-- Cards -->
<br>
<div class="defaulters">
  <div class="card">
    <div class="card-up">
      <i class="fas fa-user"></i>
    </div>
    <h2>Teachers</h2>
    <br />
    <input type="text" id="myInput" onkeyup="myFunction(0)" placeholder="Search ">
    <select name="by" id="by">
      <option value="2">by Name</option>
      <option value="3">by Class</option>
      <option value="4">by Subjects</option>
      <option value="1">by Id</option>
      
    </select>
    <div class="table-outer">
    <table class="table">
      <tr>
        <th>Delete</th>
        <th>ID</th>
        <th>Name</th>
        <th>Classes</th>
        <th>Subjects</th>
        <th>Contact #</th>
        <th>Salary</th>
        <th>Salary Status</th>
        <th>Status</th>
      </tr>
      {% for teacher in teachers %}
      <tr>
        <td style="cursor: pointer;" class="delete" onclick="del('{{ teacher.id }}')">DELETE &nbsp; <i class="far fa-times-circle"></i></td>    
        <td>{{ teacher.id }}</td>
        <td>{{ teacher.name }}</td>
        <td>{% for class in teacher.classes.all %}
          {{class}},
        {% endfor %}</td>
        <td>{% for subject in teacher.subjects.all %}
          {{subject}},
        {% endfor %}</td>
        <td>{{ teacher.contact }}</td>
        <td>{{ teacher.salary }}</td>
        <td>{{ teacher.salaryStatus }}</td>
        <td>{{ teacher.status }}</td>
        
      </tr>
      {% endfor %}
    </table>
    </div>
  </div>
</div>


{% endblock body %}


{% block js %}
<script src="static/js/search.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>
  function del(id) {
    
    $.ajax({
      url: 'tec-delete',
      data: {
        'id': id,
      },
      dataType: 'json',
      success: function(data) {
        location.reload(true);  
        
      }
    });
  }
</script>
{% endblock js %}