{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block css %}
<link rel="stylesheet" href="static/css/home.css">
<style>
  footer {
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2rem;
  }
</style>
{% endblock css %}

{% block body %}

<div class="eden">
  <div class="container">
    <img src="static/img/eden.png" alt="">
  <div class="text">
    Eden Education
    <span>MANAGEMENT SYSTEM</span>
  </div>
  </div>
  
</div>



</div>
<footer>
<p style="text-align: center;">Designed & Developed by <a href="http://www.facebook.com/mismailofficial" target="_blank"><strong>Muhammad Ismail</strong></a></p>

</footer>
</main>


{% endblock body %}