{% extends 'base.html' %} 
{% comment %} Title {% endcomment %} 
{% block title%}Income{% endblock title %} 
{% comment %} Header Text {% endcomment %} 
{% block header-text %}Income{% endblock header-text %}
 {% comment %} CSS {% endcomment %} {% block css %}
<link rel="stylesheet" href="static/css/register.css" />
<link rel="stylesheet" href="static/css/table.css" />
<style>
  .c {
    display: flex;
    margin: 2rem;
    flex-direction: row-reverse;
  }
  .clear,
  .itoc,
  .balanceClear {
    background-color: rgb(241, 93, 34);
    color: white;
    font-size: 1.1rem;
    padding: 0.7rem;
    margin: 0.2rem;
    border: none;
  }
  .itoc {
    background-color: rgb(150, 185, 24);
  }
  .balanceClear {
    background-color: rgb(48, 126, 243);
  }
</style>
{% endblock css %} {% comment %} Body {% endcomment %} {% block body %}
<br />
<form action="/income" method="POST">
  {% csrf_token %}
  <div class="family">
    <div class="ed">Rs.</div>
    <input
      type="number"
      name="amount"
      placeholder="Amount"
      id="amount"
      required
    />
  </div>
  <input type="text" name="desc" id="desc" placeholder="Description" />
  <button type="submit">Add Income</button>
</form>

<div class="c">
  <button class="itoc">Income to Balance</button>
  <button class="balanceClear">Clear Balance</button>
</div>

<div class="defaulters">
  <div class="card">
    <div class="card-up">
      <i class="fas fa-wallet"></i>
    </div>
    <h2>
      Total Income: <span data-target="{{ length }}" class="counter">0</span>
    </h2>
    <h2>Balance: <span data-target="{{ balance }}" class="counter">0</span></h2>
    <br />
    <div class="table-outer">
      <table class="table">
        <tr>
          <th>Amount</th>
          <th style="min-width: 400px !important">Description</th>
          <th>Date</th>
          <th>Delete</th>
        </tr>
        {% for exp in income %}
        <tr>
          <td>{{ exp.amount }}</td>
          <td style="min-width: 400px !important">{{ exp.desc }}</td>
          <td>{{ exp.date }}</td>
          <td
            style="cursor: pointer"
            class="delete"
            onclick="del('{{ exp.id }}')"
          >
            DELETE &nbsp; <i class="far fa-times-circle"></i>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock body %} {% block js %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>
  

  $(".balanceClear").click(function () {
    
      $.ajax({
        url: "clear-balance",
        dataType: "json",
        success: function (data) {
          location.reload(true);
        },
      });
    
  });

  $(".itoc").click(function () {
    
      $.ajax({
        url: "itoc",
        dataType: "json",
        success: function (data) {
          location.reload(true);
        },
      });
    
  });

  function del(id) {
    $.ajax({
      url: "inc-delete",
      data: {
        id: id,
      },
      dataType: "json",
      success: function (data) {
        location.reload(true);
      },
    });
  }
</script>
{% endblock js %}
